<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>localhost index</title>
    
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

<form id="form1" action="/login" method="post">
    <label><span class="form-label">username</span><input type="text" name="loginId" value="test"/></label><br>
    <label><span class="form-label">password</span><input type="text" name="password" value="test!"/></label>
    <input type="submit" value="로그인">
</form>

</body>
</html>
