<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>localhost index</title>
    
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
    
</head>
<body>

<form action method="post" th:object="${loginForm}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>
    <label>
        <span class="form-label">loginId</span>
        <input type="text" name="loginId" th:field="*{loginId}" th:errorclass="field-error" />
        <div th:errors="*{loginId}" th:class="field-error"/>
    </label><br>
    <label>
        <span class="form-label">password</span>
        <input type="password" name="password" th:field="*{password}" th:errorclass="field-error" />
        <div th:errors="*{password}" th:class="field-error"/>
    </label><br>
    <input type="submit" value="로그인">
</form>

<div th:replace="/fragment/nav :: navigation"/>

</body>
</html>
