<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>localhost index</title>
    
    <link rel="stylesheet" th:href="@{/css/common.css}" href="../static/css/common.css">
    
</head>
<body>

<div th:replace="/fragment/login :: loginOk(${loginMember}, ${loginMemberAge})"/>
<div th:replace="/fragment/nav :: navigation"/>

<table>
    <thead>
    <tr>
        <td>id</td>
        <td>loginId</td>
        <td>name</td>
        <td>age</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}">member id</td>
        <td th:text="${member.loginId}">member loginId</td>
        <td th:text="${member.name}">member name</td>
        <td th:text="${member.age}">member age</td>
    </tr>
    </tbody>
</table>

</body>
</html>
